div {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 197, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
}
p {
    font-size: 20px;
    margin: 2px;
}
section{
  display: flex;
  margin: 10px;
  flex-direction: column;
  flex:1;
  width: 100%;
  align-items: center;
}
article {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    border-radius: 15px;
}
button{
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(243, 197, 255);
  margin: 10px;
}
button:hover{
  background-color: rgb(237, 164, 255);
}
input#number1{
  text-align: center;
  width: 30%;
  border-radius: 15px;
}
input#number2{
  text-align: center;
  width: 30%;
  border-radius: 15px;
}
input#imagePicker{
  width: 65%;
}
